In [12]:
import pandas as pd
import numpy as np
sp_prices=pd.read_csv('SPprices.csv')
sp_prices

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
5     1315.380005
6     1316.000000
7     1314.650024
8     1326.060059
9     1318.430054
10    1316.329956
11    1313.010010
12    1312.410034
13    1324.089966
14    1325.540039
15    1344.900024
16    1344.329956
17    1347.050049
18    1349.959961
19    1351.949951
20    1342.640015
21    1351.770020
22    1350.500000
23    1343.229980
24    1358.040039
25    1361.229980
26    1362.209961
27    1357.660034
28    1363.459961
29    1365.739990
...           ...
2129  3100.290039
2130  3115.860107
2131  3130.010010
2132  3179.719971
2133  3145.320068
2134  3169.939941
2135  3152.050049
2136  3185.040039
2137  3155.219971
2138  3197.520020
2139  3226.560059
2140  3215.570068
2141  3224.729980
2142  3251.840088
2143  3257.300049
2144  3276.020020
2145  3235.659912
2146  3215.629883
2147  3239.409912
2148  3218.439941
2149  3258.439941
2150  3246.219971
2151  3271.120117
2152  3294.610107
2153  3306.510010
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [14]:
type(sp_prices)

pandas.core.frame.DataFrame

In [25]:
SP = pd.read_csv('SPprices.csv', squeeze=True)
SP

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
5       1315.380005
6       1316.000000
7       1314.650024
8       1326.060059
9       1318.430054
10      1316.329956
11      1313.010010
12      1312.410034
13      1324.089966
14      1325.540039
15      1344.900024
16      1344.329956
17      1347.050049
18      1349.959961
19      1351.949951
20      1342.640015
21      1351.770020
22      1350.500000
23      1343.229980
24      1358.040039
25      1361.229980
26      1362.209961
27      1357.660034
28      1363.459961
29      1365.739990
           ...
2129    3100.290039
2130    3115.860107
2131    3130.010010
2132    3179.719971
2133    3145.320068
2134    3169.939941
2135    3152.050049
2136    3185.040039
2137    3155.219971
2138    3197.520020
2139    3226.560059
2140    3215.570068
2141    3224.729980
2142    3251.840088
2143    3257.300049
2144    3276.020020
2145    3235.659912
2146    3215.629883
2147    3239.409912
2148    3218.439941
2149    3258.439941
2150    3246.219971
2151    3271.120117
2152    3294.610107
2153    3306.510010
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [26]:
type(SP)

pandas.core.series.Series

In [27]:
max(SP)

3386.149902

min(SP)

In [28]:
min(SP)

1278.040039

In [34]:
SP.sum()/SP.count()

2218.7495540592868

In [35]:
SP.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [36]:
SP.sort_values()

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
88      1295.219971
0       1295.500000
87      1304.859985
3       1308.040039
103     1308.930054
96      1310.329956
12      1312.410034
11      1313.010010
95      1313.319946
113     1313.719971
4       1314.500000
7       1314.650024
105     1314.880005
101     1314.989990
100     1315.130005
5       1315.380005
89      1315.989990
6       1316.000000
10      1316.329956
90      1316.630005
93      1317.819946
9       1318.430054
91      1318.859985
114     1319.989990
92      1320.680054
           ...
2013    3283.149902
2024    3283.659912
2012    3288.129883
2014    3289.290039
2152    3294.610107
2020    3295.469971
2027    3297.590088
2153    3306.510010
2015    3316.810059
2017    3320.790039
2018    3321.750000
2019    3325.540039
2030    3327.709961
2154    3327.770020
2016    3329.620117
2158    3333.689941
2028    3334.689941
2039    3337.750000
2029    3345.780029
2155    3349.159912
2156    3351.280029
2031    3352.090088
2032    3357.750000
2157    3360.469971
2036    3370.290039
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [38]:
SP.sort_values(ascending=False, inplace=True)
SP

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
2036    3370.290039
2157    3360.469971
2032    3357.750000
2031    3352.090088
2156    3351.280029
2155    3349.159912
2029    3345.780029
2039    3337.750000
2028    3334.689941
2158    3333.689941
2016    3329.620117
2154    3327.770020
2030    3327.709961
2019    3325.540039
2018    3321.750000
2017    3320.790039
2015    3316.810059
2153    3306.510010
2027    3297.590088
2020    3295.469971
2152    3294.610107
2014    3289.290039
2012    3288.129883
2024    3283.659912
2013    3283.149902
           ...
92      1320.680054
114     1319.989990
91      1318.859985
9       1318.430054
93      1317.819946
90      1316.630005
10      1316.329956
6       1316.000000
89      1315.989990
5       1315.380005
100     1315.130005
101     1314.989990
105     1314.880005
7       1314.650024
4       1314.500000
113     1313.719971
95      1313.319946
11      1313.010010
12      1312.410034
96      1310.329956
103     1308.930054
3       1308.040039
87      1304.859985
0       1295.500000
88      1295.219971
2       1293.670044
1       1289.089966
99      1285.500000
98      1278.180054
97      1278.040039
Name: sp500, Length: 2159, dtype: float64

In [39]:
3349 in SP

False