In [20]:
#building a dictionary with key value pairs
import pandas as pd
stock_price={'amzn': 214, 'appl':248, 'tsla':337, 'sol':152, 'doge': 0.225, 'ada': 1}
stock_price

{'amzn': 214, 'appl': 248, 'tsla': 337, 'sol': 152, 'doge': 0.225, 'ada': 1}

In [17]:
#list
stock_price
stock_list=['amzn','appl','tsla','sol','doge','ada']
stock_list

['amzn', 'appl', 'tsla', 'sol', 'doge', 'ada']

In [12]:
#not a Dataframe but a Series
stock_series=pd.Series(data=stock_price)
stock_series

amzn    214.000
appl    248.000
tsla    337.000
sol     152.000
doge      0.225
ada       1.000
dtype: float64

In [9]:
#type
type(stock_series)

pandas.core.series.Series

In [29]:
#2 lists
stock_label=[3,10,1000,20,20,5]
stock_label
stock_prices=[214,248,337,152,0.225,1]
stock_series=pd.Series(data=stock_prices, index=stock_label)
stock_series

3       214.000
10      248.000
1000    337.000
20      152.000
20        0.225
5         1.000
dtype: float64

In [38]:
stock_total=stock_series*stock_label
stock_total

3          642.0
10        2480.0
1000    337000.0
20        3040.0
20           4.5
5            5.0
dtype: float64

In [39]:
# sum function
stock_total.sum()

343171.5

In [1]:
# read the csv file into DataFrame
import pandas as pd
sp_csv=pd.read_csv('SPprices.csv')
sp_csv

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
5     1315.380005
6     1316.000000
7     1314.650024
8     1326.060059
9     1318.430054
10    1316.329956
11    1313.010010
12    1312.410034
13    1324.089966
14    1325.540039
15    1344.900024
16    1344.329956
17    1347.050049
18    1349.959961
19    1351.949951
20    1342.640015
21    1351.770020
22    1350.500000
23    1343.229980
24    1358.040039
25    1361.229980
26    1362.209961
27    1357.660034
28    1363.459961
29    1365.739990
...           ...
2129  3100.290039
2130  3115.860107
2131  3130.010010
2132  3179.719971
2133  3145.320068
2134  3169.939941
2135  3152.050049
2136  3185.040039
2137  3155.219971
2138  3197.520020
2139  3226.560059
2140  3215.570068
2141  3224.729980
2142  3251.840088
2143  3257.300049
2144  3276.020020
2145  3235.659912
2146  3215.629883
2147  3239.409912
2148  3218.439941
2149  3258.439941
2150  3246.219971
2151  3271.120117
2152  3294.610107
2153  3306.510010
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]